<app-section-title
  [titleText]="'About'"
  [titleHighlight]="'Me'"
  [desc]="
    'Get to know the person behind the pixels: who I am, what I do, and why I\'m passionate about it.'
  "
></app-section-title>

<div
  class="container mx-auto px-10 grid grid-cols-1 lg:grid-cols-2 gap-14 lg:gap-10"
>
  <div
    class="image-container rounded-full m-auto"
    appAnimateWhenScrollDirective
    [animationProperties]="imgAnimation"
  >
    <img
      src="../../../../assets/images/self.jpg"
      alt="self"
      class="object-cover w-full h-full rounded-full"
    />
  </div>

  <div class="text-container flex flex-col justify-between gap-8 pr-0 lg:pr-16">
    <div
      class="flex flex-col justify-between gap-4"
      appAnimateWhenScrollDirective
      [animationProperties]="titleAnimation"
    >
      <h1 class="title font-bold text-center">
        {{ title.greetings }}
        <span class="highlight">
          {{ title.name }}
        </span>
      </h1>

      <p
        class="desc text-justify"
        appAnimateWhenScrollDirective
        [animationProperties]="descAnimation"
      >
        {{ desc }}
      </p>
    </div>

    <button
      class="outline-button mx-auto w-[180px]"
      appAnimateWhenScrollDirective
      [animationProperties]="btnAnimation"
    >
    <!-- TODO: Atualizar href -->
      <a
        href="/path/to/your/cv.pdf"
        download="CV - Rodrigo de Oliveira Ortiz.pdf"
        >Download CV</a
      >
    </button>
  </div>
</div>
