<app-section-title
  [titleText]="'About'"
  [titleHighlight]="'Me'"
  [desc]="
    'Get to know the person behind the pixels: who I am, what I do, and why I\'m passionate about it.'
  "
></app-section-title>

<section
  class="container mx-auto px-10 grid grid-cols-1 lg:grid-cols-2 gap-14 lg:gap-10"
>
  <div
    class="image-container rounded-full m-auto"
    appAnimateWhenScrollDirective
    [animationProperties]="imgAnimation"
  >
    <img
      src="assets/images/self.jpg"
      alt="self"
      class="object-cover w-full h-full rounded-full"
    />
  </div>

  <div class="text-container flex flex-col justify-between gap-8 pr-0 lg:pr-16">
    <article
      class="flex flex-col justify-between gap-4"
      appAnimateWhenScrollDirective
      [animationProperties]="titleAnimation"
    >
      <h1 class="title font-bold text-center">
        {{ title.greetings }}

        <span class="highlight">
          {{ title.name }}
        </span>
      </h1>

      <p
        class="desc text-justify"
        appAnimateWhenScrollDirective
        [animationProperties]="descAnimation"
      >
        {{ desc }}
      </p>
    </article>

    <!-- TODO: Atualizar href -->
    <a
      class="mx-auto w-[180px]"
      href="/path/to/your/cv.pdf"
      download="CV - Rodrigo de Oliveira Ortiz.pdf"
    >
      <button
        class="outline-button"
        appAnimateWhenScrollDirective
        [animationProperties]="btnAnimation"
      >
        Download CV
      </button>
    </a>
  </div>
</section>
