@import "../../../styles/variables";

nav {
  background: $secondary-color;
}

.mobile-menu {
  background: $light-gray-color;
  opacity: 0;
  transition: $default-transition;

  &.open {
    opacity: 1;
  }

  a {
    color: $lighter-text-color;

    &:hover {
      color: $default-text-color;
    }
  }
}
