<nav class="bg-gray-800 p-4">
  <div class="h-8 flex items-center justify-between">
    <div class="flex items-center">
      <!-- TODO: Add a link to the home -->
      <a href="#" class="text-base font-bold text-white">{{ name }}</a>
    </div>

    <div class="hidden md:flex">
      <ng-container *ngFor="let item of navItems">
        <!-- TODO: Add a link to the respective section -->
        <a href="#" class="mx-4">{{ item }}</a>
      </ng-container>
    </div>

    <app-hamburger-menu (onMenuClick)="toggleMenu($event)"></app-hamburger-menu>
  </div>
</nav>

<div
  class="mobile-menu fixed top-16 left-0 w-full h-full z-50"
  [ngClass]="{ 'open': isMenuOpen }"
>
  <div class="flex flex-col items-center justify-center h-full">
    <ng-container *ngFor="let item of navItems">
      <!-- TODO: Add a link to each respective section -->
      <a href="#" class="text-2xl my-4">{{ item }}</a>
    </ng-container>
  </div>
</div>
