<nav
  class="fixed top-0 left-0 w-full h-16 z-50 bg-gray-800 py-4 px-4 md:px-12 bg-transparent"
  [ngClass]="{ showBackground: showBackground || isMenuOpen }"
>
  <div class="h-8 flex items-center justify-between">
    <div class="flex items-center">
      <a
        class="text-base font-bold text-white"
        (click)="goToSection(sections.HOME)"
        >{{ name }}</a
      >
    </div>

    <div class="hidden md:flex gap-4">
      <ng-container *ngFor="let item of navItems">
        <span class="text-white cursor-pointer" (click)="goToSection(item)">
          {{ item }}
        </span>
      </ng-container>
    </div>

    <app-hamburger-menu
      class="md:hidden"
    ></app-hamburger-menu>
  </div>
</nav>

<div
  class="mobile-menu fixed top-16 left-0 w-full h-full"
  [ngClass]="{ open: isMenuOpen }"
>
  <div class="flex flex-col items-center justify-center gap-12 h-full">
    <ng-container *ngFor="let item of navItems">
      <span class="text-2xl cursor-pointer" (click)="goToSection(item)">
        {{ item }}
      </span>
    </ng-container>
  </div>
</div>
