<app-section-title
  [titleText]="'My'"
  [titleHighlight]="'Skills'"
  [desc]="
    'Lorem Ipsum is simply dummy text of the printing and typesetting. industry. Lorem Ipsum standard dummy text.'
  "
></app-section-title>

<div
  class="cards container mx-auto grid rounded-3xl md:grid-cols-2 shadow-xl"
  appScrollAnimation
  [animationProperties]="cardsAnimation"
>
  <app-card [skill]="'Front-end'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting.'"></app-card>
  <app-card [skill]="'Back-end'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting.'"></app-card>
  <app-card [skill]="'Design'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting.'"></app-card>
  <app-card [skill]="'Others'" [desc]="'Lorem Ipsum is simply dummy text of the printing and typesetting.'"></app-card>
</div>
