<app-section-title
  [titleText]="'My'"
  [titleHighlight]="'Skills'"
  [desc]="
    'Lorem Ipsum is simply dummy text of the printing and typesetting. industry. Lorem Ipsum standard dummy text.'
  "
></app-section-title>

<!-- TODO: Ajustar responsividade -->
<div class="cards container mx-auto grid md:grid-cols-4 gap-8 relative overflow-hidden pb-8 px-8">
  <ng-container *ngFor="let card of cards">
    <app-card
      [skill]="card.skill"
      [desc]="card.desc"
      appAnimateWhenScrollDirective
      [animationProperties]="card.animationProperties"
    ></app-card>
  </ng-container>
</div>
