@import "../styles/variables";

.app-container {
  background: $light-gray-color;

  & > *:first-child {
    padding-bottom: 4rem;
  }

  .sections-container > * {
    padding-bottom: 6rem;
    width: 100%;
    max-width: 1250px;
    margin: 0 auto;
  }
}
