<section
  #homeSection
  class="home-container container-fluid bg-black h-[80vh] relative flex justify-center items-center"
>
  <app-particles></app-particles>

  <div class="w-full flex items-center flex-col z-10">
    <!-- TODO: Precisa de ajustes, está quebrando quando abre a página de forma repentina -->
    <div class="flex">
      <h1 class="main-text" [@revealAnimation]="currentPhrase">
        {{ currentPhrase }}
      </h1>
      <div class="h-20 border-l border-white"></div>
    </div>

    <div
      class="flex gap-6 mt-6"
      appAnimateWhenScrollDirective
      [animationProperties]="slideUpAnimation"
    >
      <button class="outline-button tracking-wider">View work</button>
      <button class="outline-button tracking-wider">Contact me</button>
    </div>
  </div>
</section>
