$white-color: #FFF;
$black-color: #000;

.home-container {
	background-image: url('../../../assets/background.jpg');
	background-position: center;

	.main-text {
		color: $white-color;
		overflow: hidden;
		text-wrap: nowrap;
		background: transparent;
		font-size: 3rem;
		font-weight: bold;
	}

	.outline-button {
		color: $white-color;
		font-weight: bold;
		padding: 0.75rem 2rem;
		border: 2px solid $white-color;
		border-radius: 2rem;
		

		&:hover {
			background: $white-color;
			color: $black-color;
		}
	}
}
