@import '../../../styles/variables';

.card-img	{
	border-radius: 0.5rem;
	min-height: 25vh;
	object-fit: cover;
	width: 100%;
	height: 100%;
	transition: $default-transition;
	cursor: pointer;

	&:hover {
		transform: scale(1.1);
		filter: brightness(0.75);
	}
}