<div class="container mx-auto pl-6 pr-10">
  <div
    *ngIf="showHeaders && !isMobile"
    class="headers my-4 grid grid-cols-2 text-2xl font-bold"
  >
    <span class="ml-4">Qualifications:</span>
    <span class="ml-[4.5rem]">Experiences:</span>
  </div>

  <!-- TODO: Criar "pills" para subistituir os pontos (•) na listagem de tecnoogias -->
  <section class="timeline relative">
    <ng-container *ngFor="let block of blocks; let i = index">
      <div
        class="timeline-item w-full flex flex-col relative mb-12 last:mb-0"
        [ngClass]="{
          'work-block': block.isWorkExp,
          'education-block': !block.isWorkExp,
          'pulled-up-block': shouldPullUpBlock(i)
        }"
        appAnimateWhenScrollDirective
        [animationProperties]="slideUpAnimation"
      >
        <div class="timeline-point absolute rounded-full"></div>

        <div class="timeline-item-header flex justify-center items-center z-10 shadow-md shadow-neutral-400">
          {{ block.date }}
          <ng-container *ngIf="showHeaders && isMobile">
            <span class="mx-2">-</span>
            <span>{{ block.isWorkExp ? "Experience" : "Qualification" }}</span>
          </ng-container>
        </div>

        <div class="timeline-content relative py-4 px-8 shadow-md shadow-neutral-300">
          <h2 class="font-bold mb-4 text-lg">{{ block.title }}</h2>
          <span [innerHTML]="block.desc"></span>
        </div>
      </div>
    </ng-container>
  </section>
</div>
