<div class="container max-w-[1250px] mx-auto pl-6 pr-10">
  <div
    *ngIf="showHeaders && !isMobile"
    class="headers mb-4 grid grid-cols-2 text-2xl font-bold"
  >
    <span class="ml-4">Qualifications:</span>
    <span class="ml-[4.5rem]">Experiences:</span>
  </div>

  <section class="timeline relative mb-20">
    <ng-container *ngFor="let block of blocks; let i = index">
      <div
        class="timeline-item w-full d-flex flex-col relative flex mb-6"
        [ngClass]="{
          'work-block': block.isWorkExp,
          'education-block': !block.isWorkExp,
          'pulled-up-block': shouldPullUpBlock(i)
        }"
      >
        <div class="timeline-point absolute rounded-full"></div>

        <div class="timeline-item-header flex justify-center items-center z-10">
          {{ block.date }}
          <ng-container *ngIf="showHeaders && isMobile">
            <span class="mx-2">-</span>
            <span>{{ block.isWorkExp ? "Qualification" : "Experience" }}</span>
          </ng-container>
        </div>

        <div class="timeline-content relative py-4 px-8 shadow-xl">
          <h2>{{ block.title }}</h2>
          <p>{{ block.desc }}</p>
        </div>
      </div>
    </ng-container>
  </section>
</div>
