$secondary-color: #43AEF6;
$photo-frame-size: 0.75rem;

.about-me-title-container {
  color: #FFF;

  span {
    color: $secondary-color;
  }

  .divider {
    border: 1px solid $secondary-color;
  }
}

.about-me-desc-container {
  img {
    padding: $photo-frame-size;
    border: calc(2 * $photo-frame-size) solid #0000;
    outline: 2px solid $secondary-color;
    outline-offset: calc(-1 * $photo-frame-size);
    background: conic-gradient(from 90deg at 1px 1px,#0000 25%,$secondary-color 0);
  }
}
