<section class="flex flex-col items-center">
  <div class="about-me-title-container flex flex-col items-center justify-center gap-8 mb-8">
    <h1 class="text-4xl font-bold">
      About <span>MySelf</span>
    </h1>

    <p class="text-xl max-w-2xl text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      Lorem Ipsum standard dummy text.
    </p>

		<hr class="divider w-28">
  </div>

	<div class="about-me-desc-container flex">
		<img src="../../../assets/self.jpg" alt="me">


	</div>
</section>
