$primary-color: #14213D;
$secondary-color: #FCA311;
$gray-color: #E5E5E5;
$text-gray-color: #505050;
$black-color: #000000;
$photo-frame-size: 0.75rem;

.about-me-title-container {
  color: $text-gray-color;

  span {
    color: $secondary-color;
  }

  p {
    color: $text-gray-color;
  }

  .divider {
    border: 1px solid $secondary-color;
  }
}

.about-me-desc-container {
  
}
